//--------------
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($x, $y, $blur, $thick, $color) {
  -webkit-box-shadow: $x $y $blur $thick $color;
  -moz-box-shadow: $x $y $blur $thick $color;
  -ms-box-shadow: $x $y $blur $thick $color;
  box-shadow: $x $y $blur $thick $color;
}

@mixin bgImage($url, $size, $repeat) {
  background-image: url($url);
  background-size: $size;
  background-repeat: $repeat;
}

@mixin bgImage1($url, $size, $repeat) {
  background-image: url($url);
  background-size: $size;
  background-repeat: $repeat;
}

@mixin rotateY($deg) {
  -webkit-transform: rotateY($deg);
  transform: rotateY($deg);
}

@mixin scrollTrack($_w, $_m, $_c, $_h) {
  width: $_w;
  margin: $_m;
  background-color: $_c;
  height: $_h;
  top: 0px;
}

@mixin scrollHandle($_w, $_h, $_c, $_m) {
  width: $_w;
  height: $_h;
  background-color: $_c;
  margin: $_m;
  border-radius: 0px;
}

@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

@mixin linearGradientVertical($top, $bottom) {
  background: $top;

  /* Old browsers */
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%);

  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom));

  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $top 0%, $bottom 100%);

  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $top 0%, $bottom 100%);

  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $top 0%, $bottom 100%);

  /* IE10+ */
  background: linear-gradient(to bottom, $top 0%, $bottom 100%);

  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );

  /* IE6-9 */
}

@mixin linearGradientHorizontal($left, $right) {
  background: $left;

  /* Old browsers */
  background: -moz-linear-gradient(left, $left 0%, $right 100%);

  /* FF3.6+ */
  background: -webkit-gradient(linear, top left, top right, color-stop(0%, $left), color-stop(100%, $right));

  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, $left 0%, $right 100%);

  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, $left 0%, $right 100%);

  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, $left 0%, $right 100%);

  /* IE10+ */
  background: linear-gradient(to right, $left 0%, $right 100%);

  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );

  /* IE6-9 */
}
