.f_page_content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.wrapper {
  position: relative;
  float: left;
  width: calc(100% - 80px);
  height: auto;
  margin-left: 40px;
}

.main_container {
  position: relative;
  width: calc(100% - 80px);
  height: 281px;
  margin-top: 0px;
  font-size: 14px;
  line-height: 18px;
  top: 31%;
  overflow: hidden;
  float: left;
  margin-left: 40px;
  margin-bottom: 0px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main_container {
    height: 404px;
    top: 18%;
  }
}

.mainost {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.title_text {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  font-family: 'RobotoBold', sans-serif;
  font-size: 24px;
  margin-left: 63px;
  opacity: 0;
  padding-bottom: 10px;
  color: #8c0909;
}

#f_page_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.ost_container {
  position: relative;
  float: left;
  width: calc(100% - 52px);
  /* margin-left: 23px; */
  /* margin-top: 70px; */
  height: auto;
  overflow: hidden;
  color: #333;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .ost_container {
    width: calc(100% - 40px);
    margin-left: 20px;
  }
}

.text_container {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  font-size: 16px;
  text-align: left;
}

@media (min-width: 320px) and (max-width: 434px) and (orientation: portrait) {
  .text_container {
    padding: 15px;
    font-size: 14px;
  }
}

@media (min-width: 568px) and (max-width: 736px) and (orientation: landscape) {
  .text_container {
    padding: 15px;
    font-size: 15px;
  }
}

.para_text {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
}

.para_text p {
  position: relative;
  float: left;
  margin-bottom: 15px;
  margin-left: -109px;
  opacity: 0;
}

.para_text p:last-child {
  margin-bottom: 0;
}

.list_items {
  list-style-type: disc;
}

.list_items li {
  position: relative;
  margin-bottom: 8px;
  padding-left: 10px;
  margin-left: 40px;
  opacity: 0;
  right: -126px;
}

.f_box_container {
  position: relative;
  float: left;
  width: calc(100% - 40px);
  height: auto;
  margin-left: 20px;
  margin-bottom: 50px;
  top: 50px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .f_box_container {
    width: calc(100% - 40px);
    margin-left: 20px;
  }
}

@media (min-width: 320px) and (max-width: 434px) and (orientation: portrait) {
  .f_box_container {
    width: calc(100% - 40px);
    margin-left: 20px;
    top: 20px;
  }
}

@media (min-width: 568px) and (max-width: 736px) and (orientation: landscape) {
  .f_box_container {
    width: calc(100% - 40px);
    margin-left: 20px;
    top: 20px;
  }
}

.f_box_split {
  position: relative;
  float: left;
  width: 100%;
  height: 180px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .f_box_split {
    height: 240px;
  }
}

.first_box,
.second_box,
.third_box {
  position: relative;
  float: left;
  height: 100%;
}

@media (min-width: 320px) and (max-width: 434px) and (orientation: portrait) {
  .first_box,
  .second_box,
  .third_box {
    width: 100% !important;
    height: auto;
  }
}

@media (min-width: 568px) and (max-width: 736px) and (orientation: landscape) {
  .first_box,
  .second_box,
  .third_box {
    width: 100% !important;
    height: auto;
  }
}

.first_box {
  width: 27%;
}

.second_box {
  width: 25%;
}

.third_box {
  width: 48%;
}

.f_left_box {
  width: 0%;
  height: 100%;
  position: relative;
  float: left;
  background-color: #ffff;
  border-top: 5px solid #01679A;
  top: 0px;
  display: none;
  z-index: 2 !important;
}

.f_left_box li {
  color: #333;
}

@media (min-width: 568px) and (max-width: 736px) and (orientation: landscape) {
  .f_left_box {
    border: none;
  }
}

@media (min-width: 320px) and (max-width: 434px) and (orientation: portrait) {
  .f_left_box {
    border: none;
  }
}

.f_left_box .white_arrow {
  position: absolute;
  right: -7px;
  top: 50%;
  margin-top: -3px;
  display: inline-block !important;
  width: 0px;
  height: 0px;
  border-left: 7px solid #ffffff;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  z-index: 1;
}

@media (min-width: 320px) and (max-width: 434px) and (orientation: portrait) {
  .f_left_box .white_arrow {
    position: absolute;
    right: 50%;
    top: 100%;
    margin-top: 0px;
    display: inline-block !important;
    width: 0px;
    height: 0px;
    border-top: 7px solid  #ffffff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
  }
}

@media (min-width: 568px) and (max-width: 736px) and (orientation: landscape) {
  .f_left_box .white_arrow {
    position: absolute;
    right: 50%;
    top: 100%;
    margin-top: 0px;
    display: inline-block !important;
    width: 0px;
    height: 0px;
    border-top: 7px solid  #ffffff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
  }
}

.f_center_box {
  width: 0%;
  height: 100%;
  float: left;
  background-color: #CCCCCC;
  border-top: 5px solid #01679A;
  top: 0px;
  display: none;
  position: relative;
  color: #333333;
  z-index: 1 !important;
}

@media (min-width: 568px) and (max-width: 736px) and (orientation: landscape) {
  .f_center_box {
    border: none;
  }
}

@media (min-width: 320px) and (max-width: 434px) and (orientation: portrait) {
  .f_center_box {
    border: none;
  }
}

.f_center_box .arrow {
  position: absolute;
  right: -7px;
  top: 50%;
  margin-top: -3px;
  display: inline-block !important;
  width: 0px;
  height: 0px;
  border-left: 7px solid #CCCCCC;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  z-index: 1;
}

@media (min-width: 320px) and (max-width: 434px) and (orientation: portrait) {
  .f_center_box .arrow {
    position: absolute;
    right: 50%;
    top: 100%;
    margin-top: 0px;
    display: inline-block !important;
    width: 0px;
    height: 0px;
    border-top: 7px solid #CCCCCC;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
  }
}

@media (min-width: 568px) and (max-width: 736px) and (orientation: landscape) {
  .f_center_box .arrow {
    position: absolute;
    right: 50%;
    top: 100%;
    margin-top: 0px;
    display: inline-block !important;
    width: 0px;
    height: 0px;
    border-top: 7px solid #CCCCCC;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
  }
}

.f_right_box {
  width: 0%;
  height: 100%;
  position: relative;
  float: left;
  background-color: #fff;
  border-top: 5px solid #01679A;
  top: 0px;
  display: none;
  color: #333333;
  z-index: 0 !important;
  margin-bottom: 77px;
}

@media (min-width: 568px) and (max-width: 736px) and (orientation: landscape) {
  .f_right_box {
    border: none;
  }
}

@media (min-width: 320px) and (max-width: 434px) and (orientation: portrait) {
  .f_right_box {
    border: none;
  }
}
/*# sourceMappingURL=style.css.map */