@import "../../../../css/mixins.scss";
@import "../../../../css/media_query.scss";

$page-main-color: #013a81;
$left-box-color: $page-main-color;
$left-box-font-color: #ffffff;
$right-box-color: #cccccc;
$right-box-font-color: #333333;
$box-height-d: 210px;
$box-height-ipad: 280px;

.f_page_content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: left;
}

#f_page_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(1.3);

}

.f_MCS {
    position: relative;
    padding: 0;
    margin-top: 60px;
    height: calc(100% - 50px);
    max-width: 100%;
    .row {
        width: calc(100% + 1px);
        height: 100%;
    }
    @include tablet-portrait{
        margin-top: 150px;
    }
    @include mobile-landscape{
      margin-top: 100px;
    }
}
/***********************************first question***********************************************/
#f_mc_leftSide {
      position: relative;
      opacity: 1;
      float: left;
      width: 60%;
      height: 100%;
      background-color: #ffffff70;
    @include tablet-portrait{
        width: 100%;
        height: 50%;
      }
      @include mobile-portrait{
        width: 100%;
        height: auto;
      }
      @include mobile-landscape{
        width: 100%;
        height: auto;

      }

}

#f_mc_rightSide {
      position: relative;
      opacity: 1;
      float: left;
      width: 40%;
      height: 100%;
      background-color: #ffffff70;
    @include tablet-portrait{
      width: 100%;
      height: 50%;
    }
    @include mobile-portrait{
      width: 100%;
      top: 155px;
      height: auto;
    }
    @include mobile-landscape{
      width: 100%;
      top: 145px;
      height: auto;
    }

}

$optionColor: rgba(255, 181, 46, 1);
$optionSelectedColor: rgba(255, 181, 46, 1);
$optionOverColor: rgba(255, 255, 255, 0.1);
$submitBtnColor: rgba(255, 181, 46, 1);
$submitOverColor: rgba(255, 239, 46, 1);

  .Qnum{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    color: #023980e0;
    font-weight: 700;
  }
    #f_mc_question {
        float: left;
        width: 100%;
        font-size: 18px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 20px;
      }
        #f_mc_questionText {
          float: left;
        width: 100%;
        padding: 25px;
        color: #fff;
        background-color: #305d96;
        font-size: 16px;
        border-radius: 2px;
        box-shadow: 0px 1px 2px 1px #2f5c95;
        }


        #f_mc_instruction {
            float: left;
            width: calc(100% + 1px);
            min-height: 20px;
            background-color: rgba(255, 255, 255, 0.1);
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            display: table;
            opacity: 0;
            display: none;
          }
            .f_mc_ins {
                font-size: 12px;
                width: 75px;
                color: #fff;
                background-color: #3b4a7d;
                min-height: 20px;
                display: table-cell;
                vertical-align: middle;
                position: relative;
                text-align: center;
            }
            .f_mc_insText {
                position: relative;
                font-size: 13px;
                display: table-cell;
                vertical-align: middle;
                height: 100%;
                text-align: left;
                padding: 5px 10px;
            }


    #f_mc_optionContainer {
        float: left;
        width: 60%;
        height: auto;
        @include mobile-portrait{
          width: 100%;
        }
        @include mobile-landscape{
          width: 100%;
        }
      }

        .f_mc_optionBtn {
            float: left;
            position: relative;
            width: 100%;
            height: auto;
            min-height: 50px;
            padding: 5px 10px;
            color: #ffffff;
            text-align: left;
            font-size: 14px;
            cursor: pointer;
            margin-bottom: 10px;
            background-color: transparent;
            left: -100px;
            opacity: 0;
            .f_mc_mark {
                position: absolute;
                float: left;
                width: 24px;
                height: 24px;
                background-size: 100% 100%;
                margin-top: -12px;
                top: 50%;
                display: none;
            }
            .f_mc_optionType {
                position: absolute;
                width: 28px;
                height: 28px;
                background-color: rgba(255,255,255,0.2);
                border: 1px solid rgba(51, 51, 51, 0.95);
                margin-top: -15px;
                top: 50%;
                left: 40px;

                .f_mc_innerBox {
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    left: 50%;
                    top: 50%;
                    margin-top: -7px;
                    margin-left: -7px;
                }
            }
            .radio {
                border-radius: 30px;
                .f_mc_innerBox {
                    border-radius: 20px;
                }
            }
            .f_mc_optionText {
              position: relative;
              width: calc(70% - 75px);
              margin-left: 81px;
              display: table;
              line-height: normal;
              background-color: rgba(255, 255, 255, 0.94);
              color: #333;
              padding: 10px;
              box-shadow: 1px 2px 3px 0px #3336;
              font-weight: bold;
                  border-radius: 2px;
            }
            .cross {
                background-image: url(../images/quiz_cross.png);
            }
            .tick {
                background-image: url(../images/quiz_tick.png);
            }
        }
        .f_mc_submitBtn {
            float: right;
            width: auto;
            height: auto;
            padding: 8px 15px;
            font-size: 16px;
            margin-top: 20px;
            background-color: $submitBtnColor;
            font-family: "RobotoBold", sans-serif;
        }

    #f_mc_feedbackBox {
      position: relative;
      width: 95%;
      height: 150px;
      left: 0;
      bottom: 50px;
      background-color: #fff;
      color: #000;
      display: none;
      border: 1px solid #305d96;
      top: 50%;
      margin-top: -100px;
          }
        #f_mc_feedbackClose {
            position: absolute;
            background-color: #084369;
            border-left: 1px solid red;
            width: 30px;
            height: 30px;
            top: 0;
            right: 0;
            cursor: pointer;
            border: none;
            font-family: "LineAwesome";
          //  font-size: 20px;
            color: #ffffff;
        }
        #f_mc_feedbackText {
        float: left;
        width: calc(100% - 45px);
        height: auto;
        margin: 5px;
        overflow: hidden;
            p {
                float: left;
                font-size: 14px;
            }
        }

      .feedBacktitle{
          position: relative;
          float: left;
          width: 100%;
          height: 30px;
          background-color: rgba(64, 68, 71, 0.7019607843137254);
          color: #fff;
          font-size: 16px;
          padding-left: 25px;
          line-height: 1.7;
          text-align: left;
        }



.f_mc_optionOver {
    background-color: $optionOverColor !important;
    @include box-shadow(0px, 0px, 0, 1px, rgba(255, 255, 255, 0.3))
}

.f_mc_submitOver {
    background-color: $submitOverColor !important;
}

.f_mc_selected {
    background-color: $optionSelectedColor;
}

.ssScrollTrack {
    width: 1px;
    margin: 0px 0px 0px -4px;
    background-color: rgba(255, 255, 255, 0.2);
    top: 0px;
}

.ssScrollHandle {
    width: 5px;
    height: 60px;
    background-color: rgba(156, 0, 0, 0.5);
    margin-left: -2px;
    border-radius: 0px;
}
/***********************Question 2 ******************************/
#f_mc_question1 {
    float: left;
    width: 100%;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
  }
    #f_mc_questionText1 {
      float: left;
    width: 100%;
    padding: 25px;
    color: #fff;
    background-color: #305d96;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 1px #2f5c95;
    }


    #f_mc_instruction1 {
        float: left;
        width: calc(100% + 1px);
        min-height: 20px;
        background-color: rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        display: table;
        opacity: 0;
        display: none;
      }
        .f_mc_ins {
            font-size: 12px;
            width: 75px;
            color: #fff;
            background-color: #3b4a7d;
            min-height: 20px;
            display: table-cell;
            vertical-align: middle;
            position: relative;
            text-align: center;
        }
        .f_mc_insText {
            position: relative;
            font-size: 13px;
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            text-align: left;
            padding: 5px 10px;
        }


#f_mc_optionContainer1 {
    float: left;
    width: 60%;
    height: auto;
    @include mobile-portrait{
      width: 100%;
    }
    @include mobile-landscape{
      width: 100%;
    }
  }

    .f_mc_optionBtn {
        float: left;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 50px;
        padding: 5px 10px;
        color: #ffffff;
        text-align: left;
        font-size: 14px;
        cursor: pointer;
        margin-bottom: 10px;
        background-color: transparent;
        left: -100px;
        opacity: 0;
        .f_mc_mark {
            position: absolute;
            float: left;
            width: 24px;
            height: 24px;
            background-size: 100% 100%;
            margin-top: -12px;
            top: 50%;
            display: none;
        }
        .f_mc_optionType {
            position: absolute;
            width: 28px;
            height: 28px;
            background-color: rgba(255,255,255,0.2);
            border: 1px solid rgba(51, 51, 51, 0.95);
            margin-top: -15px;
            top: 50%;
            left: 40px;

            .f_mc_innerBox {
                position: absolute;
                width: 14px;
                height: 14px;
                left: 50%;
                top: 50%;
                margin-top: -7px;
                margin-left: -7px;
            }
        }
        .radio {
            border-radius: 30px;
            .f_mc_innerBox {
                border-radius: 20px;
            }
        }
        .f_mc_optionText {
          position: relative;
          width: calc(70% - 75px);
          margin-left: 81px;
          display: table;
          line-height: normal;
          background-color: rgba(255, 255, 255, 0.94);
          color: #333;
          padding: 10px;
          box-shadow: 1px 2px 3px 0px #3336;
          font-weight: bold;
              border-radius: 2px;
        }
        .cross {
            background-image: url(../images/quiz_cross.png);
        }
        .tick {
            background-image: url(../images/quiz_tick.png);
        }
    }
    .f_mc_submitBtn {
        float: right;
        width: auto;
        height: auto;
        padding: 8px 15px;
        font-size: 16px;
        margin-top: 20px;
        background-color: $submitBtnColor;
        font-family: "RobotoBold", sans-serif;
    }

#f_mc_feedbackBox1 {
        position: absolute;
        width: 50%;
        height: 100px;
        left: 0;
        bottom: 50px;
        background-color: #fff;
        color: #000;
        display: none;
        border: 1px solid #305d96;
        margin-left: 20px;
      }
    #f_mc_feedbackClose1 {
        position: absolute;
        background-color: #084369;
        border-left: 1px solid red;
        width: 30px;
        height: 30px;
        top: 0;
        right: 0;
        cursor: pointer;
        border: none;
        font-family: "LineAwesome";
      //  font-size: 20px;
        color: #ffffff;
    }
    #f_mc_feedbackText1 {
    float: left;
    width: calc(100% - 45px);
    height: auto;
    margin: 5px;
    overflow: hidden;
        p {
            float: left;
            font-size: 14px;
        }
    }

  .feedBacktitle{
      position: relative;
      float: left;
      width: 100%;
      height: 30px;
      background-color: rgba(64, 68, 71, 0.7019607843137254);
      color: #fff;
      font-size: 16px;
      padding-left: 25px;
      line-height: 1.7;
      text-align: left;
    }



.f_mc_optionOver {
background-color: $optionOverColor !important;
@include box-shadow(0px, 0px, 0, 1px, rgba(255, 255, 255, 0.3))
}

.f_mc_submitOver {
background-color: $submitOverColor !important;
}

.f_mc_selected {
background-color: $optionSelectedColor;
}

.ssScrollTrack {
width: 1px;
margin: 0px 0px 0px -4px;
background-color: rgba(255, 255, 255, 0.2);
top: 0px;
}

.ssScrollHandle {
width: 5px;
height: 60px;
background-color: rgba(156, 0, 0, 0.5);
margin-left: -2px;
border-radius: 0px;
}
.disableContainer{
  position: absolute;
  width: 100%;
  height: 109px;
  background-color: #ffffff52;
  cursor: default;
  outline: none;
  border: 0px;
  z-index: 1;
  display: block;
  opacity: 0.5;
}
