@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;
    $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_"));
    $formats: ( otf: "opentype", ttf: "truetype");
    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }
    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

@include font-face(RobotoRegular,
../css/fonts/RobotoRegular,
null,
null,
ttf woff);
@include font-face(RobotoItalic,
../css/fonts/RobotoItalic,
null,
null,
ttf woff);
@include font-face(RobotoBold,
../css/fonts/RobotoBold,
null,
null,
ttf woff);
@include font-face(RobotoBoldItalic,
../css/fonts/RobotoBoldItalic,
null,
null,
ttf woff);
@include font-face(RobotoMedium,
../css/fonts/RobotoMedium,
null,
null,
ttf woff);
@include font-face(RobotoMediumItalic,
../css/fonts/RobotoMediumItalic,
null,
null,
ttf woff);
@include font-face(FontAwesome,
../css/fonts/line-awesome,
null,
null,
ttf woff);
//font style
