@import 'theme.scss';
.f_page_content {
    position: absolute;
    line-height: normal;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#f_assessmentBase {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
    background-color: #31708f;
    opacity: 1;
    .f_triangleOne {
        position: absolute;
        width: 451px;
        height: 161px;
        right: 0;
        bottom: -20px;
        opacity: 0.1;
        @include bgImage("../images/assessment_bg.png", 100% 100%, no-repeat);
    }
    .f_triangleTwo {
        position: absolute;
        width: 451px;
        height: 161px;
        left: 0;
        top: -40px;
        opacity: 0.1;
        @include bgImage("../images/assessment_bg.png", 100% 100%, no-repeat);
        transform: rotate(180deg)
    }
}

#f_assessmentIntro {
    position: absolute;
    width: 100%;
    height: 350px;
    left: 0px;
    overflow: hidden;
    display: block;
    top: 50%;
    margin-top: -175px;
    @media #{$ipad-landscape} {
        height: 350px;
        margin-top: -175px;
    }
    @media #{$ipad-portrait} {
        height: 700px;
        margin-top: -350px;
    }
    #f_assetIntroImg1 {
        position: relative;
        float: right;
        width: 520px;
        height: 350px;
        opacity: 0;
        margin-right: 0px;
        @media #{$ipad-landscape} {
            width: 520px;
        }
        @media #{$ipad-portrait} {
            width: calc(100% - 60px);
        }
        img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    #f_assetIntroText {
        position: relative;
        float: left;
        width: 410px;
        height: 350px;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 20px;
        opacity: 0;
        margin-left: 0px;
        p {
            font-size: 14px;
            color: #ffffff;
            text-align: left;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        @media #{$ipad-landscape} {
            width: 410px;
            height: 350px;
        }
        @media #{$ipad-portrait} {
            width: calc(100% - 60px);
            height: 250px;
        }
        .f_start{
          position: absolute;
          float: left;
          width: 100px;
          height: 34px;
          bottom: 0px;
          border: 1px solid;
          right: 0px;
          background-color: #fff;
          cursor: pointer;
          box-shadow: inset 0px 0px 4px 0px #000;
          p{
            color: #333 !important;
            display: table-cell;
            vertical-align: middle;
            padding: 5px 30px;
            font-size: 18px;
          }
        }

    }
    #f_beginAssessmentBtn {
        position: absolute;
        float: right;
        width: auto;
        height: auto;
        padding: 5px 15px;
        font-size: 16px;
        right: 20px;
        bottom: 20px;
        margin-top: 20px;
        color: #333333;
        background-color: #ffd601;
        font-family: "RobotoBold", sans-serif;
        opacity: 0;
        display: none;
    }
}

#f_assessmentContainer {
    position: relative;
    width: 100%;
    height: 400px;
    left: 0;
    top: 50%;
    display: none;
    margin-top: -200px;
    @media #{$ipad-landscape} {
        height: 400px;
        margin-top: -200px;
    }
    @media #{$ipad-portrait} {
        height: 500px;
        margin-top: -250px;
    }
    #f_mc_puzzleContainer {
        position: absolute;
        width: 400px;
        height: 400px;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 5px;
        overflow: hidden;
        opacity: 0;
        left: 50%;
        margin-left: -200px;
        @media #{$ipad-landscape} {
            width: 400px;
            height: 400px;
            left: 50%;
            margin-left: -200px;
        }
        @media #{$ipad-portrait} {
            width: 250px;
            height: 500px;
            left: 50%;
            margin-left: -125px;
        }
        #resultImg {
            position: absolute;
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            left: 5px;
            top: 5px;
            @include bgImage("../images/assessment_gold_1.png", auto auto, no-repeat);
            display: none;
            @media #{$ipad-landscape} {
                @include bgImage("../images/assessment_gold_1.png", auto auto, no-repeat);
            }
            @media #{$ipad-portrait} {
                @include bgImage("../images/assessment_gold_2.png", auto auto, no-repeat);
            }
        }
        .tile {
            position: relative;
            float: left;
            width: 130px;
            height: 130px;
            margin: 0;
            background-color: #333333;
            @include bgImage("../images/quesmark.png", auto auto, no-repeat);
            background-position: 50%;
            opacity: 0;
            @media #{$ipad-landscape} {
                width: 130px;
                height: 130px;
            }
            @media #{$ipad-portrait} {
                width: 80px;
                height: 163px;
            }
        }
        .col1 {
            background-color: #ec952e;
        }
        .col2 {
            background-color: #eca772;
        }
        .puzzleSelected {
            background-color: #6d37a9;
            cursor: default;
        }
        .puzzleDisabled {
            background-color: #969191;
            @include bgImage("../images/Xmark.png", auto auto, no-repeat);
        }
    }
    #f_mc_quizContainer {
        float: right;
        position: relative;
        width: 564px;
        height: 400px;
        text-align: left;
        overflow: hidden;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 10px 0 0 10px;
        margin-right: 0;
        @media #{$ipad-landscape} {
            width: 564px;
            height: 400px;
        }
        @media #{$ipad-portrait} {
            width: 458px;
            height: 500px;
        }
        #f_mc_question {
            float: left;
            width: 100%;
            font-size: 18px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-right: 0px;
            #f_mc_questionText {
                float: left;
                width: 100%;
                padding: 10px 20px 10px 10px;
                color: #333333;
                background-color: #ffd601;
            }
            #f_mc_instruction {
                float: left;
                width: calc(100% + 1px);
                min-height: 20px;
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                display: table;
                opacity: 1;
                display: block;
                font-family: "RobotoItalic";
                font-size: 13px;
                #f_mc_ins {
                    color: #ffffff;
                    min-height: 20px;
                    display: table-cell;
                    vertical-align: middle;
                    position: relative;
                    text-align: center;
                    padding: 0 10px;
                }
                #f_mc_insText {
                    position: relative;
                    display: table-cell;
                    vertical-align: middle;
                    width: 100%;
                    height: 100%;
                    text-align: left;
                    padding: 5px 10px;
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
        #f_mc_optionContainer {
            float: left;
            width: 100%;
            height: auto;
            margin-top: 20px;
            .f_mc_optionBtn {
                float: left;
                position: relative;
                width: 100%;
                height: auto;
                min-height: 50px;
                padding: 5px 20px 5px 10px;
                color: #ffffff;
                text-align: left;
                font-size: 14px;
                cursor: pointer;
                margin-bottom: 5px;
                background-color: transparent;
                left: 0px;
                .f_mc_optionType {
                    position: absolute;
                    width: 28px;
                    height: 28px;
                    background-color: rgba(255, 255, 255, 0.2);
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    margin-top: -15px;
                    top: 50%;
                    left: 40px;
                    .f_mc_innerBox {
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        left: 50%;
                        top: 50%;
                        margin-top: -7px;
                        margin-left: -7px;
                    }
                }
                .radio {
                    border-radius: 30px;
                    .f_mc_innerBox {
                        border-radius: 20px;
                    }
                }
                .f_mc_optionText {
                    position: relative;
                    width: calc(100% - 75px);
                    margin-left: 75px;
                    display: table;
                    line-height: normal;
                }
            }
            #f_mc_submitBtn {
                position: absolute;
                width: auto;
                height: auto;
                padding: 8px 15px;
                font-size: 16px;
                right: 20px;
                bottom: 20px;
                color: #333333;
                background-color: #ffd601;
                font-family: "RobotoBold", sans-serif;
                display: none;
            }
        }
        .f_introText {
            margin-bottom: 20px;
        }
        .certText {
            width: 100%;
            float: left;
            text-align: center;
            font-size: 18px;
            color: #ffd601;
            font-family: "RobotoBold", sans-serif;
        }
    }
}

#f_resultbar {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    height: 30px;
    display: none;
    #f_retakeAssessmentBtn {
        float: right;
        width: auto;
        height: 30px;
        padding: 0px 15px;
        font-size: 16px;
        right: 20px;
        bottom: 20px;
        color: #333333;
        background-color: #ffd601;
        font-family: "RobotoBold", sans-serif;
    }
    #f_resultIns {
        float: left;
        width: auto;
        height: 30px;
        margin: 0;
        line-height: 30px;
        font-size: 14px;
    }
}

.f_mc_optionOver {
    background-color: rgba(255, 255, 255, 0.1) !important;
    @include box-shadow(0px, 0px, 0, 1px, rgba(255, 255, 255, 0.3))
}

.f_mc_submitOver {
    background-color: #ffd601 !important;
}

.f_mc_selected {
    background-color: #ffd601;
}


/*#ffd601*/
