@import "../../../../css/mixins.scss";
@import "../../../../css/media_query.scss";

$page-main-color: #013a81;
$left-box-color: $page-main-color;
$left-box-font-color: #ffffff;
$right-box-color: #cccccc;
$right-box-font-color: #333333;
$box-height-d: 210px;
$box-height-ipad: 280px;

.f_page_content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.79)
}

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: scale(1);
  transform-origin: center center;
  background-repeat: no-repeat;

}

/*Leviton*/
.f_maincontainer{
  position: relative;
  float: left;
  width: 100%;
  height: 570px;
  top: 60px;
  @include tablet-portrait{
    height: 100%;
  }
  @include mobile-portrait{
    height: auto;
    top: 52%;
  }
  @include mobile-landscape{
    height: auto;
    top: 52%;
  }
}
.f_centerAnimation{
  position: absolute;
  float: left;
  width: 100%;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  @include mobile-portrait{
    top:35%;
  }
  @include mobile-landscape{
    top: 21%;
  }

}
.heading_bg{
  position: relative;
  float: left;
  width: 0%;
  height: 66px;
  background-color: rgba(1, 58, 129, 0.8);
  @include mobile-portrait {
    height: 73px;
    padding: 11px;
    font-size: 24px

  }
  @include mobile-landscape{
    height:  50px;
  }

  .title_text {
    position: relative;
    float: left;
    height: auto;
    font-family: 'RobotoBold', sans-serif;
    font-size: 50px;
    margin-left: 50px;
    opacity: 0;
    padding-bottom: 20px;
    color: #fff;
    width: 100%;
    clear: both;
    p{
      text-align: center !important;
      @include mobile-portrait {
        font-size: 24px;
      }
      @include mobile-landscape{
        font-size:35px;
      }
    }




    @include mobile-landscape {
      padding-bottom: 15px;
      font-size: 22px;
    }
  }
}
.f_iconBtn{
  position: relative;
  float: left;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-left: 34px;
}
.f_icon{
  position: relative;
  float: left;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-left: 34px;
}
#f_iconBtn_0{
  width: 130px;
  height: 130px;
  margin-top: 0px;
  transform: scale(0);
  background-image: url(../images/icon1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  float: left;
  opacity: 1;
  top: -41px;
  left: -14px;


}
#f_iconBtn_1{
  @extend #f_iconBtn_0;
  background-image: url(../images/icon2.png);
  top: 42px;
  left: -14px;
    transform: scale(0)
}
#f_iconBtn_2{
  @extend #f_iconBtn_0;
  background-image: url(../images/icon3.png);
  top: 116px;
  left: -14px;
    transform: scale(0)
}
#f_iconBtn_3{
  @extend #f_iconBtn_0;
  background-image: url(../images/icon4.png);
  top: 2px;
  left: -14px;
    transform: scale(0)
}
#f_iconBtn_4{
  @extend #f_iconBtn_0;
  background-image: url(../images/icon5.png);
  top: 86px;
  left: 38px;
    transform: scale(0)
}
#f_iconBtn_5{
  @extend #f_iconBtn_0;
  background-image: url(../images/icon6.png);
  top: -21px;
  left: 57px;
    transform: scale(0);
    @include tablet-portrait{
      top: 111px;
      left: 364px;
    }
}
#f_icon_1{
  @extend #f_iconBtn_0;
  background-image: url(../images/icon1.png);
  top: 14px;
left: 0px;
  transform: scale(0)
}

#f_icon_2{
  @extend #f_iconBtn_0;
  background-image: url(../images/icon2.png);
  top: 100px;
  left: 0px;
    transform: scale(0)
}
#f_icon_3{
  @extend #f_iconBtn_0;
  background-image: url(../images/icon3.png);
  top: 136px;
  left: 0px;
    transform: scale(0)
}
#f_icon_4{
  @extend #f_iconBtn_0;
  background-image: url(../images/icon4.png);
  top: 15px;
  left: -45px;
    transform: scale(0);
    @include tablet-portrait{
      top:91px;
    }
}
#f_icon_5{
  @extend #f_iconBtn_0;
  background-image: url(../images/icon7.png);
  top: 88px;
  left: -14px;
  transform: scale(0);

}
#f_icon_0{
  @extend #f_iconBtn_0;
  background-image: url(../images/icon8.png);
  top: 60px;
  left: 0px;
    transform: scale(0)
}
//------------------------------------------------------------------------
.f_box_container {
  float: left;
  position: relative;
  width: 700px;
  height: auto;
  top: 140px;
  left: 70px;
  overflow: hidden;
  line-height: normal;

  @include tablet-portrait {
    width: 550px;
    left: 50px;
  }


  @include mobile-portrait {
    width: calc(100% - 40px);
    left: 20px;
    top: 70px;
    font-size: 14px;
  }


  @include mobile-landscape {
    width: calc(100% - 40px);
    left: 20px;
    top: 70px;
    font-size: 14px;
  }
}

.title_text {
  position: relative;
  float: left;
  height: auto;
  font-family: 'RobotoBold', sans-serif;
  font-size: 26px;
  margin-left: 50px;
  opacity: 0;
  padding-bottom: 20px;
  color: #fff;
  width: 100%;
  clear: both;

  @include mobile-portrait {
    padding-bottom: 15px;
    font-size: 22px;
  }


  @include mobile-landscape {
    padding-bottom: 15px;
    font-size: 22px;
  }
}

//------------------------------------------------------------------------
.text_container {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  font-size: 16px;

  @include mobile-portrait {
    padding: 15px;
    font-size: 14px;
  }


  @include mobile-landscape {
    padding: 15px;
    font-size: 14px;
  }
}

.para_text {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin-bottom: 15px;

  p {
    position: relative;
    float: left;
    margin-bottom: 15px;
    right: -109px;
    opacity: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.list_items {
  list-style-type: disc;

  li {
    position: relative;
    float: left;
    margin-bottom: 8px;
    padding-left: 10px;
    margin-left: 40px;
    opacity: 0;
    right: -126px;
  }
}

//------------------------------------------------------------------------
.f_left_box {
  position: relative;
  float: left;
  width: 30%;
  height: $box-height-d;
  z-index: 1;
  color: $left-box-font-color;

  @include tablet-portrait {
    height: $box-height-ipad;
  }


  @include mobile-portrait {
    width: 100%;
    height: auto;
  }


  .para_text {
    p {
      float: right;
    }
  }

  .left_bg_color {
    position: relative;
    float: left;
    width: 0%;
    height: 100%;
    background-color: $left-box-color;

    .arrow {
      position: absolute;
      right: -7px;
      top: 50%;
      margin-top: -4px;
      display: inline-block !important;
      width: 0px;
      height: 0px;
      border-left: 7px solid $page-main-color;
      border-bottom: 7px solid transparent;
      border-top: 7px solid transparent;
      opacity: 0;

      @include mobile-portrait {
        position: absolute;
        right: 50%;
        top: 100%;
        margin-top: 0px;
        display: inline-block !important;
        width: 0px;
        height: 0px;
        border-top: 7px solid $page-main-color;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
      }
    }
  }
}

//------------------------------------------------------------------------
.f_right_box {
  width: 70%;
  height: $box-height-d;
  float: left;
  position: relative;
  color: $right-box-font-color;

  @include tablet-portrait {
    height: $box-height-ipad;
  }


  @include mobile-portrait {
    width: 100%;
    height: auto;
  }


  .right_bg_color {
    position: relative;
    float: left;
    width: 0%;
    height: 100%;
    background-color: $right-box-color;
  }
}
